/* =========================
   ROOT VARIABLES
========================= */
:root {
    --main-color: #FFFBF5;
    --secondery-color: #FFF9F0;
    --main-font: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --vintage-font: "Georgia", "Times New Roman", Times, serif;
    --dark-font-color: #4b3b2a;
}

/* =========================
   RTL SUPPORT
========================= */
[dir="rtl"] {
    direction: rtl;
}

/* =========================
   GLOBAL
========================= */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
    background: var(--main-color);
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    color: var(--dark-font-color);
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* =========================
   LANGUAGE BUTTONS
========================= */
.lang-buttons {  
    min-height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.lang-buttons button {
    padding: 8px 18px;
    border: none;
    border-radius: 25px;
    background: transparent;
    color: var(--dark-font-color);
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s;
}

.lang-buttons button:hover {
    transform: translateY(-2px);
}

/* =========================
   MAIN PAGE HEADER
========================= */
#main-page-header {
    background: linear-gradient(135deg, #B3541E, #FFDAB3);
    border-top: 4px solid #f5cda7;
    border-bottom: 4px solid #f5cda7;
    padding: 40px 20px;
    text-align: center;
    min-height: 250px;    
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#main-page-header-title {
    color: var(--main-color);
    margin-bottom: 30px;
}

#main-page-header-link-buttons nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 0;
    width: 85%;
    max-width: 100%;
    margin: 0 auto;
}

#main-page-header-link-buttons nav ul button {
    background: none;
    border: none;
    color: var(--main-color);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s;
    white-space: nowrap;
}

#main-page-header-link-buttons button:hover {
    transform: translateY(-4px);
}

/* =========================
    MAIN PAGE SUMMARY
========================= */
#main-page-summary-section {
    text-align: center;
    margin: 50px 15px 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}

#main-page-summary {
    max-width: 800px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
}

#main-page-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

/* =========================
   GENERAL FRAMES
========================= */
.general-frame {
    display: flex;
    gap: 10px;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    background: var(--secondery-color);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-overflow: ellipsis;      /* show ... */
    border-top: 4px solid #f5cda7;
    flex-shrink: 0;
}

.general-frame.left {
    flex-direction: row;
}

.general-frame.right {
    flex-direction: row-reverse;
}

.frame-title {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--vintage-font);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 0;
    text-align: flex-start;
}

.frame-text {
    display: flex;
    gap: 10px;
    justify-items: center;
    align-items: start;
    font-family: var(--vintage-font);
    font-size: 1.5rem;
    border: 2px solid #f5cda7;
    padding: 20px;
}

/* =========================
   FRAME IMAGES
========================= */
.frame-images {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    min-width: 150px;
    gap: 10px;
    padding: 10px;
}

.frame-images img {
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.frame-images img.small {
    width: 140px;
    height: 140px;
}

.frame-images img.large {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    justify-items: center;
    align-items: start;
    width: 320px;
    height: 220px;
}

.pressable {
    cursor: pointer;    
    transition: transform 0.3s, box-shadow 0.3s;
}

/* =========================
   IMAGE ROW
========================= */
.image-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 40px 20px;
    flex-wrap: wrap;
}

.image-row img {
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s;
}

.image-row img:hover {
    transform: translateY(-5px) scale(1.03);
}

/* =========================
   SQUARE PHOTOS
========================= */
.photo-square {
    width: 300px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
}


.photo-square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.photo-square img:hover {
    transform: scale(1.05) translateY(-5px);
}

/* =========================
   LINKS
========================= */
.frame-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 100%;
    font-size: 18px;
    flex: 1;
    align-items: flex-start; 
    justify-content: flex-start; 
    white-space: nowrap;

}

.frame-links a:hover {
    color: black;
}

/* =========================ב
   OVERLAY
========================= */
.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, background 0.4s ease;
    z-index: 1000;
}

.overlay.show {
    background: rgba(0,0,0,0.85);
    opacity: 1;

    pointer-events: auto;
}

.overlay-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.overlay.show .overlay-img {
    opacity: 1;
    transform: scale(1);
}

/* =========================
   FOOTER
========================= */
footer {
    background-color: #F2E6D0;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    border-top: 1px solid #E0CDA9;
    height: 80px;
}

footer p {
    line-height: 1.3;
    margin: 0;
    font-size: 18px;
}

/* =========================
   MOBILE BREAKPOINT
========================= */
@media (max-width: 768px) {

    
    #main-page-header {
        min-height: 175px;
    }

    #main-page-header-title {
        font-size: 1.5rem;
    }

    #main-page-header-link-buttons nav ul {
        flex-direction: row; 
        flex-wrap: wrap;
        gap: 10;
    }

    #main-page-header-link-buttons nav ul button {
        font-size: 1.1rem; 
    }

    #main-page-summary {
        font-size: 0.98rem; 
    }

    .general-frame,
    .general-frame.left,
    .general-frame.right {
        flex-direction: column;
        width: 95%;
        padding: 15px;
        gap: 0;
        margin: 0 auto;

    }

    .frame-text {
        width: 100%;      
        font-size: 1rem;
        padding: 10pxב;
        margin-bottom: 15px;
    }

    .frame-title {
        font-size: 1.6rem; 
        white-space: nowrap;
    }

    .frame-images {
        display: grid;
        width: 320px;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 0 auto;
        justify-content: center;
    }

    .frame-images img {
        width: 150px;     
        height: 125px;
        justify-self: center;
    }

    .frame-images img.large {
        width: 200px;
        height: 150px;
    }

    .frame-images img.small {
        width: 80px;
        height: 80px;
    }

    .image-row {
        flex-direction: row;
        gap: 15px;
        align-items: center;
        margin: 20px 10px;
    }

    .image-row img {
        max-width: 30%;
        height: auto;
    }

    .photo-square {
        width: 150px;
        margin: 0 auto;
    }

    .photo-square img {
        width: 100%;
        height: 100%;
    }

    .lang-buttons {
        min-height: 20px;
    }

    footer p {
        font-size: 0.98rem;
    }
    
}


